@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #272727;
    --background: #f2f2f2;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background);
  font-family: "Raleway", sans-serif;
}
